@use "./variables.scss" as variables;
@import "./devices.scss";

@font-face {
  font-family: "Montserrat";
  src: url("../styles/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../styles/fonts/Montserrat-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("../styles/fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../styles/fonts/Montserrat-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("../styles/fonts/Montserrat-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("../styles/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../styles/fonts/Montserrat-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("../styles/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../styles/fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../styles/fonts/Montserrat-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

body {
  background: variables.$background_light_primary;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: variables.$primary_color_light;
  font-weight: 500;
}

h1 {
  font-size: 64px;
  font-weight: 800;
  line-height: 68px;
  margin: 0;
}

h2 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
}

h3 {
  font-weight: 600;
  font-size: 2rem;
  margin: 0;
  color: variables.$primary_color_light;
}

h5 {
  font-weight: 600;
  font-size: 1.1rem;
  margin: 0;
}

p {
  font-weight: 400;
  font-size: 1.38rem;
  line-height: 2rem;
  margin: 0;
}

@include mobile {
  h1 {
    font-size: 36px;
    line-height: 44px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 16px;
  }

  h5 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
    line-height: 24px;
  }
}
