@import "../../styles/variables.scss";
@import "../../styles/devices.scss";

// CAROUSEL PICAFLOR

.carouselPicaflorContainer {
  padding: 7rem 0;
}

.containerContentHeaderCarousel {
  padding: 0rem 5rem;
}

.containerImageCarousel {
  position: relative;
  padding-bottom: 2rem;
  width: 100%;
  transition: filter 0.5s ease;

  p {
    color: $primary_color_light;
    text-align: left;
    line-height: 2.2rem;
    margin: 0 4.5rem;
    position: absolute;
    top: 5rem;
    left: 0;
    right: 0;
  }
}

.inactiveImage {
  filter: grayscale(100%);
}

@include mobile {
  .carouselPicaflorContainer {
    padding: 4rem 0;
  }

  .containerImageCarousel p {
    line-height: 1.8rem;
    margin: 0 2.5rem;
    top: 3.5rem;
    width: 20rem;
  }
}
