@import "../../styles/variables.scss";
@import "../../styles/devices.scss";

// CALENDAR HOME STYLES
.calendarHomeContainer {
  display: flex;
  gap: 6rem;
}

.calendarContent {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.calendarCardsContainer {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.calendarCard {
  transition: transform 0.4s ease;
  position: relative;
  z-index: 0;
  &:hover {
    transform: scale(1.1);
    z-index: 1;
  }

  button {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 140px;
    &:hover {
      background-color: white;
    }
  }
}

.pictureContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

// CAROUSEL HOME

.carouselHomeContainer {
  position: relative;
}

.carouselTextContainer {
  position: absolute;
  left: $space-left;
  top: 9rem;
  z-index: 99;
  width: 430px;
}

// EXPERIENCES HOME

.experiencesCardHomeContainer {
  display: flex;
  flex-direction: column;
  gap: 5rem;

  h2 {
    color: $secondary_color_light;
  }
}
.cardsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

@include mobile {
  .pictureContainer {
    display: none;
  }
  .carouselTextContainer {
    left: $space-left-mobile;
    top: 1rem;
    max-width: 350px;
  }

  // EXPERIENCES HOME

  .experiencesCardHomeContainer {
    gap: 2rem;
    padding: 4rem 0;
    h2 {
      padding-left: $space-left-mobile;
    }
  }

  // CARDS HOME

  .calendarHomeContainer {
    display: block;
  }

  .calendarCardsContainer {
    display: block;
  }

  .cardsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
  }
  .cardContainer {
    height: 470px;
  }

  .calendarCard {
    transition: none;
    position: static;
    z-index: 0;
    &:hover {
      transform: none;
      z-index: 0;
    }
  }
}
