@import "../../styles/variables.scss";
@import "../../styles/devices.scss";

// CAROUSEL PICAFLOR

.carouselPatagoniaContainer {
  padding: 7rem 0;
}

.containerContentHeaderCarousel {
  padding: 0rem 5rem;
}

.containerImageCarousel {
  padding-bottom: 2rem;
  width: 100%;
  position: relative;

  h3 {
    position: absolute;
    bottom: 4rem;
    left: 2rem;
  }
}

// TOURNAMENT PATAGONIA

.containerTournament {
  position: relative;
  background-image: url("../../images/patagonia/Img_Torneos_Patagonia.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100svh;
}

@include mobile {
  .containerTournament {
    padding: $container-space-around-horizontal-mobile;
  }
  .carouselPatagoniaContainer {
    padding: 1rem 0 3rem 0;
  }
  .containerImageCarousel {
    height: 345px;
  }
  .containerContentHeaderCarousel {
    padding: $container-space-around-mobile-2;
  }
}
