@import "../../styles/variables.scss";

// CAROUSEL PICAFLOR

.carouselPatagoniaContainer {
  padding: 8rem 0;
}

.containerContentHeaderCarousel {
  padding: 0rem 5rem;
}

.containerImageCarousel {
  padding-bottom: 2rem;
  width: 100%;
  position: relative;

  h3 {
    position: absolute;
    bottom: 4rem;
    left: 2rem;
  }
}
