@import "../../styles/variables.scss";
@import "../../styles/devices.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
  color: $secondary_color_light;
}

.colorAlternative {
  color: $primary_color_light;
}

@include mobile {
  .container {
    max-width: 350px;
  }
}
@include cellphone {
  .container {
    max-width: 270px;
  }
}
