@import "../../styles/variables.scss";
@import "../../styles/devices.scss";

.container {
  position: relative;
  max-height: 108svh;
  overflow: hidden;

  video {
    width: 100%;
  }
}

.template {
  background-image: url("../../images/banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100svh;
}

.titleContainer {
  position: absolute;
  left: $space-left;
  top: 42svh;
  max-width: 32rem;
  color: $primary_color_light;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  p {
    font-size: 24px;
  }
  h1 {
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
  }
}
@include mobile {
  .titleContainer {
    left: $space-left-mobile;
    max-width: 18rem;
    top: 400px;
  }
  .container {
    max-height: 900px;
    video {
      height: 900px;
      object-fit: cover;
    }
  }

  .template {
    height: 900px;
  }
}
