@import "../../styles/variables.scss";
@import "../../styles/devices.scss";

.containerMapView {
  display: flex;
  gap: 3rem;
}

.imageContainer {
  flex: 1.4;
}

.containerContentMapView {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  flex: 1;
  img {
    margin-top: 3rem;
  }
}

@include mobile {
  .containerMapView {
    flex-direction: column;
    gap: 1.5rem;
    padding-bottom: 1rem;
  }
}
