@import "../../styles/variables.scss";

.container {
  padding: $container-space-around;
}

.spaceVerticalAndLeft {
  padding: $container-space-vertical-left;
}

.backgroundColorAlternative {
  background-color: $background_light_secondary;
}
