@import "../../styles/variables.scss";
@import "../../styles/devices.scss";

.container {
  padding: $container-space-around;
}

.spaceVerticalAndLeft {
  padding: $container-space-vertical-left;
}

.backgroundColorAlternative {
  background-color: $background_light_secondary;
}

@include mobile {
  .container {
    padding: $container-space-around-mobile;
  }

  .spaceVerticalAndLeft {
    padding: $container-space-vertical-left-mobile;
  }
}
