@import "../../styles/variables.scss";

// CAROUSEL PICAFLOR

.carouselPicaflorContainer {
  padding: 8rem 0;
}

.containerContentHeaderCarousel {
  padding: 0rem 5rem;
}

.containerImageCarousel {
  padding-bottom: 2rem;
  width: 100%;
}
