@import "../../styles/variables.scss";

// MAP PICAFLOR STYLES
.containerMapPicaflor {
  display: flex;
  gap: 3rem;
}

.imageContainer {
  flex: 1.4;
}

.containerContentMapPicaflor {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  flex: 1;
  img {
    margin-top: 3rem;
  }
}
