@import "../../styles/variables.scss";

#wing1,
#wing2,
#wing3 {
  transform-origin: center bottom; /* Ajustá según el diseño del ala */
  animation: flap 0.5s ease-in-out infinite alternate;
}

#picaflor_loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  background-color: $secondary_color_light;
  svg {
    position: relative;
    top: 20vh;
  }
  path {
    fill: white;
  }
}

@keyframes flap {
  0% {
    transform: rotate(-4deg);
  }
  100% {
    transform: rotate(2deg);
  }
}
